@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #45457E;
    --second-color: #6A5487;
    --third-color: #976593;
    --fourth-color: #FC9C83;
    --fifth-color: #FDE2AC;
}

body {
    background-image: linear-gradient(var(--third-color), var(--first-color));
    font-family: 'Poppins', sans-serif;
}

.text-color {
    color: var(--fourth-color);
}

.btn-color {
    background-color: var(--fourth-color);
    border: 0;
    border-radius: 25px;
}

.btn-color:hover {
    color: var(--third-color);
}